.rootchat{
    width: 70%;
    .chat{
        display : flex;
        justify-content: center;
        align-items: center;
        height: 32rem;
        padding: .5rem;
        border-radius: 0.25rem;
        border: 1px solid #c8ced3;
        padding: 0;
    }
}